<h1>Manually add a raw email</h1>
<% form_for @email, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :content %> <br>
    <%= f.text_area :content, :rows => 35, :cols => 100 %> <br>
    <%= f.file_field :content_attachment %> <br>
  </p>
  <%= f.submit %>
<% end %>

